.content  {
  background-color: #000000;
  position: absolute;
  top: 57.5px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch; /* absolute */
  justify-content: space-evenly; /* smth... */
  padding: 75px;
  z-index: -1;
}

.content > div:first-child {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 90px;
  padding-left: 250px;
}

.content > div:last-child {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 250px;
  padding-left: 90px;
}

.content div:last-child{
  min-width: 300px;
}

.content div:first-child{
  min-width: 400px;
}

.vertical-split {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.buy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: normal;
  flex-wrap: nowrap;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0, 0.9);
  border-style: groove;
  border-width: 5px;
  border-color: #0275d8
}

.p1 {
  font-size: 120%;
  font-family: "Courier New", Courier, monospace;
  color: #FFFFFF;
  background-color: rgb(0, 0, 0, 0.7);
  border-style: groove;
  border-color: #0275d8;
  border-width: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7.5px;
  min-height: 66px;
}

.p2 {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 20px;
  font-size: 50px;
}

p {
  font-size: 200%;
  font-family: "Courier New", Courier, monospace
}

a {
  font-family: "Courier New", Courier, monospace;
}

ul {
  margin: 0;
  overflow: auto;
}

li {
  display: inline;
  float: right;
  padding-right: 10px;
  padding-top: 120px;
}

nav {
  background-color: #000000;
  min-height: 75px;
}

body {
    background-color: #000000;
}


@media (max-width: 1700px){
  .content {
    position: absolute;
    flex: auto;
    flex-direction: column;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    flex-wrap: nowrap;
  }

  p {
    font-size: 120%
  }

  .content > div:first-child {
    padding-right: 25px;
    padding-left: 0px;
  }

  .content > div:last-child {
    padding-left: 25px;
    padding-right: 0px;
  } 
}

@media (max-width: 1400px){

  .hidenavbar {
    display: none;
    background-color: #000000;
  }

  .content {
    display: block;
    top: 0px;
  }
}

@media (max-height: 900px){

  p {
    font-size: 150%
  }

  .buy {
    flex: auto;
  }
}

@media (max-width: 599px){
  .vertical-split {
    display: none;
  }
}

